
.navbar-nav
{
	position: relative;
	left: 480px;
}
.sp1{
	position:absolute;
	font-weight: bold;
	font-size:18px;
	top:11px;
	left:30px;
	cursor: pointer;
	text-transform: uppercase;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	animation: colores 2s ease-in-out infinite ;
}
.navbar-nav li a{
	color:black;
	font-weight: bold;
	text-transform: uppercase;
	
}
.navbar-nav li a:hover{
	border-bottom: 2px solid black;
	line-height: 10px;
	
}
nav{

	position:fixed;
	top:0px;
	width:100%;
}
.navbar-collapse
{
	position:relative;

}
.d-btn .btn
{
	transform: rotate(-90deg);
	position: fixed;
	bottom: 0px;
	right:-50px;
	font-size:16px;
	z-index:2;

}
.d-btn .btn:focus
{
	outline: none;
	
}
.sl{
	position: relative;
	top:0px;
	z-index: -1;
}
.circ
{
  position: absolute;
  top:500px;
}
.slide{
	position:relative
}
.carousel-caption
{
	position: absolute;
	top: 200px;
}
.p1 , .p1it2,.p1it3{
	font-size:60px;
	margin-right:250px;
	
}
.p1{
	animation:movetop .5s ease-out ;
}
.p1it2{
	animation: rotate  2s ease-in-out ; 
}
.p2 , .p2it2 , .p2it3{
	font-size:30px;
	margin-right: 330px;
	
  }
  .p2{
	animation: moveright 1s ease-in-out;
  }
.ve , .ve2 , .ve3{
	border:2px solid white;
	padding: 7px 30px;
	border-radius: 50px;
	color:white;
	margin-right:400px;
	line-height:80px;
	
}
.ve{
	animation: moveleft 1s ease-in-out;
}
.ve:hover{
	text-decoration: none;
	 color:white;
	 border-color:darkslategrey;
}
.ve2{
	animation: sizer 1s ease-in-out;
}
.cols1 { 
	display: flex;	
	margin-top:30px;
}
.span1{
	color:green;
	font-size:40px;
	position: relative;
	padding-right:10px ;
}

.bacph
{
	background-image: url(../images/works/img11.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	height: 300px;
	color:white;
	font-weight:bold;
	font-size:23px;
	margin-top:30px;
	text-align: center;
	padding-top:50px;
	

}

.bacph .col-xs-12 .fa{

	padding-top:30px;
}

.nav2 li{
	
    color:white;
	border:2px solid black;
   margin-top:30px;
 
  
}
h4{
	width:100%;
	
}
.nav2 .active
{
	background-color:lightgreen;
}
.nav2 li a{
	color:black;
	font-weight: bold;
	
}
.nav2 li i{
	font-size:24px;
	font-weight: bold;
	padding-top: 12px;
}
.nav2 li a:hover{
	text-decoration: none;
}
.nav2 li:hover{
	background-color:lightgreen; 
	transition: .2s;    
	
}

.der{
margin-top: 20px;

}
.star:hover{
background-color: white;
cursor: pointer;
transition: 0.2s;
color: green;
border:1px solid green;
}
.star{
	
	background-color: rgba(0, 128, 0, 0.877);
     padding: 10px 14px;
	 margin-right: 20px;
	 font-size: 23px;	
	color: white;
}
.vrer , .rooled , .voov{
	display: flex;
	margin-bottom: 50px;
}
.mult{
	font-weight: bolder;
}

.carousel-control-prev
{
	position:absolute;
	top:150px;
	left:14px;
	color:white;
	padding: 3px 5px;
	background-color:green;
	opacity: .6;
}
.carousel-control-next
{
	position:absolute;
	top:150px;
	right:13px;
	color:white;
	padding: 3px 5px;
	background-color:green;
	opacity: .6;
}
.carousel-control-next:hover , .carousel-control-prev:hover , .carousel-control-next:focus , .carousel-control-prev:focus
{
	color:white;
	opacity: .9;
}
.bacoh2
{
	background-image: url(../images/parallax/timeline.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	padding: 50px;
	margin-top: 30px;
}
.bacoh2 .col-xs-12{
	background-color:black;
	color:white;
	margin-top:30px;
	margin-right:50px;
	padding:40px;
	opacity: .8;
	border-top-left-radius: 50px;
}
.squ{
	margin-top:40px;
	margin-bottom:40px;
	padding: 10px;
}
.squ .col-xs-12 .col-md-1 span{
	padding: 20px 40px;
	cursor: pointer;
	font-weight:bold;	
}
 .t1{
	background-color:green;
	
	
}

.squ .text-center
{
	margin-bottom:50px;
}
.head2
{
	font-weight: bold;
	
}
.head2::after
{
	font-weight: bold;
	margin:auto;
	display: block;
	content: "";
	margin-top:20px;
	height: 2px;
	width:50px;
	background-color: black;
}

.squ .col-xs-12 .col-md-1 span:hover{
	background-color:green;
	transition: .4s;
}
.bac1,.bac2,.bac3,.bac4,.bac5,.bac6,.bac7,.bac8,.bac9,.bac10,.bac11,.bac12
{
	padding: 0px;
   cursor: pointer;
}
.color1{
	background-color: black;
	opacity:0;	
	width:100%;
	height:100%;
	padding: 40px 0px;
	padding-bottom: 100px;
}
.color1:hover{
	opacity:.6;
	transition: .4s;
}
.color1 p,.color1 span
{
	color:white;
}
.color1 span{
	font-size:20px;
	border:1px solid white;
	border-radius: 50px;
	background-color:white;
	padding: 15px 17px;
	color:black;

}
.color1 .lead{
	font-size:30px;
}
.color1 .photog
{
	font-size:20px;
}
.color1 .more1
{
	position: absolute;
	bottom:10px;
	left:30px
}
.color1 .more2
{
	position: absolute;
	bottom:10px;
	left:100px
}
.bac1
{
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/works/img1.jpg);
}
.bac2
{
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/works/img2.jpg);
}
.bac3
{
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/works/img3.jpg);
}
.bac4
{
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/works/img4.jpg);
}
.bac5
{
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/works/img5.jpg);
}
.bac6
{
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/works/img6.jpg);
}
.bac7
{
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/works/img7.jpg);
}
.bac8
{
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/works/img8.jpg);
}
.bac9
{
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/works/img9.jpg);
}
.bac10
{
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/works/img10.jpg);
}
.bac11
{
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/works/img11.jpg);
}
.bac12
{
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/works/img12.jpg);
}
.fool{
	background-image: url(../images/parallax/cta.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	height: 300px;
	
}
.colle{
	background-color: black;
	opacity: 0.5;
	padding-top: 100px;
	height: 100%;
}
.Read{
	font-size: 33px;
	color: white;
	font-weight: bolder;
}
.afreee{
	border: 2px solid green;
	border-radius: 50px;
	padding: 6px 40px;
	background-color: green;
	color: white;
	font-size: 18px;
	font-weight: bolder;
}
.afreee:hover{
    background-color:white;
	transition: 0.4s;
	text-decoration: none;
	border-color: white;
	color:black;
	
}
.team{
	color: black;
	
	font-size: 20px;
	font-weight: bolder;
	
}
.bol{
	background-color: black;
	width: 50px;
	height:2px;
}
.internet{
	margin-left: 10px;
	border: 2px solid #eee;
	border-radius: 50px;
	padding: 8px;
	color:gray;
	
}
.sl22 li{
	background-color: gray;
	  padding: 7px;
    
}


.sl22 li.active{
	background-color: grey;
	opacity: 0.5;
}
.sl22{
	position:absolute;
	top:500px
	
}
.last{
	margin-bottom: 30px;
}
.serv{
	font-size: 25px;
	font-weight: bolder;
	color: black;
}
.bake{
	border: 2px solid rgb(0, 128, 0) ;
	border-radius: 50px;
	font-size: 50px;
	background-color: rgb(0, 128, 0);
	opacity: 0.7;
	color: white;
	padding: 6px 12px;
}
.gogo

{
border: 2px solid #eee;
text-align: center;
padding-top: 50px;
padding-bottom: 40px;

}
.seo{
color: black;
font-weight: bold;
}
.dodo{
	margin-bottom: 20px;

}
.wys{
	color:black;
	font-size: 30px;
	font-weight: bold;
}
.d-ul , .d-ul li
{
	position: relative;
	z-index:1;
}
.d-ul li
{
 margin-right:2px;
 background-color: #eee;
 font-weight: bold;
 padding: 10px;
 
}

.num21{
	margin-top:-15px;
	position: relative;
	z-index:0;
    border:1px solid gray;
	padding: 6px;
	margin-bottom: 20px;
}
  .two , .three
{
	display: none;
}
.plactive{
	border-top:2px solid green;
	background-color: white;
}
.d-ul li:hover , .d-ul li:focus
{
	border-top:2px solid green;
	cursor: pointer;
	margin-top: -10px;
	transition: .3s;
}
.one p , .two p , .three p
{
padding: 10px;
overflow: auto;
border:1px solid gray;
}
.progr , .child1,.child2 , .child3
{
	background-color: #eee;
	padding:6px;
	border:1px solid gray;
}
.tq{
	margin-bottom: 20px;
}
.progr{

 margin-right:-14px;
}
.child1 , .child2 , .child3{
display: none;
padding-left:30px;
 padding-right:40px;
 margin-bottom: 3px;
 width:552px;
}

.progr p{
	color:black;
	font-weight:bold;

}
.progr .fa{
	cursor: pointer;
	font-weight:bold;
}
.yac 
{
	display: flex;
	position:absolute;
	right:20px
}
.yac li
{
	margin-right:10px;
	
}
.cop{
	color:white;
	opacity: .7;
}
.bglast
{
	background-color: black;
	opacity: .9;
	height: 100px;
	padding: 30px;
	margin-top:50px
}